/*  your css code here. If applicable */
body {
	
    font-family: Arial, sans-serif;
    margin: 0;
	padding:0;
	
}
.testimonial-section{
	border-radius: 6px;
	background-color: f5f5f5;
		padding:20px;
}
.testimonials {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid;
    
}
.testimonial-text {
    font-size: 16px;
    
}
.testimonial-author {
    text-align: right;
    font-style: italic;
   
}